.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 100%;
  gap: 2rem;
  min-height: 100vh;
}

.about-container img {
  max-width: 100%;
  width: 350px;
  height: auto;
}
.about-wrapper .about-text h4 {
  padding: 0.5rem;
  line-height: 4rem;
}

.about-wrapper .about-text .icons {
  color: var(--main_color);
  margin-bottom: -0.5rem;
  margin-right: 0.8rem;
  font-size: 1.5rem;
}

.about-wrapper .about-btn {
  margin-top: 3rem;
}
@media screen and (max-width: 800px) {
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-wrapper .about-img {
    text-align: center;
  }
}
